@use "@styles/partials/global" as *;

// @assets/css/about.scss

.about-content {
  padding: 3.75rem 1.5rem;

  @include breakpoint-up(md) {
    padding: 5rem 2.5rem;
  }

  > .title {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-text);

    @include breakpoint-up(md) {
      font-size: 2.5rem;
    }
  }

  > .body {
    max-width: 800px;
    font-size: 1rem;
    line-height: 1.75;
    color: var(--color-text);

    @include breakpoint-up(md) {
      font-size: 1.125rem;
      line-height: 1.78;
    }
  }
}
