---
import BaseLayout from '@layouts/BaseLayout.astro'
import SiteHeader from '@common/SiteHeader/SiteHeader.astro'
import SiteFooter from '@common/SiteFooter/SiteFooter.astro'
import HeroSection from '@pages/home/HeroSection/HeroSection.astro'
import CardList from '@parts/CardList/CardList.astro'
import '@assets/css/home.scss'
---

<BaseLayout title="Astro Simple - SpiraCSS Example">
  <div class="main-container">
    <SiteHeader />
    <HeroSection />
    <CardList id="features" />
    <SiteFooter />
  </div>
</BaseLayout>
