.sample-block {
  // 基本構造 -----------------------------------
  display: block;

  > .sample-header {
    padding: 8px 16px;
  }

  > .sample-body {
    margin-top: 16px;
  }

  // --shared ----------------------------------------
  .btn {
    padding: 4px 8px;
    border-radius: 4px;
  }

  // --interaction -----------------------------------
  @at-root & {
    &:hover {
      opacity: 0.9;
    }
  }
}

