@use "@styles/partials/global" as *;

// @rel/../hero-section.scss

.hero-description {
  max-width: 600px;
  font-size: 1rem;
  line-height: 1.75;
  color: var(--color-bg);
  text-align: center;

  @include breakpoint-up(md) {
    font-size: 1.125rem;
    line-height: 1.78;
  }

  // --shared ----------------------------------------

  // --interaction -----------------------------------
  // @at-root & {
  // }
}
