@use "sass:meta";

// @assets/css/home.scss

.home-section {
  @include meta.load-css("scss");

  > .home-hero {
    // @rel/scss/home-hero.scss
  }

  > .home-feature {
    // @rel/scss/home-feature.scss
  }
}

