@use "@styles/partials/global" as *;

// @rel/../site-header.scss

.site-nav {
  display: flex;
  gap: 1.5rem;
  list-style: none;

  @include breakpoint-up(md) {
    gap: 2rem;
  }

  > .link {
    color: var(--color-text);
    font-size: 0.875rem;
    text-decoration: none;

    @include breakpoint-up(md) {
      font-size: 1rem;
    }
  }

  // --shared ----------------------------------------

  // --interaction -----------------------------------
  @at-root & {
    > .link {
      transition: color 0.2s ease;

      &:hover,
      &:focus {
        color: var(--color-primary);
      }
    }
  }
}
